@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply bg-background-light text-slate-800 dark:text-slate-200 dark:bg-background-dark;
		@apply min-h-screen;
	}
}

::selection {
	@apply text-slate-200 bg-primary;
}

::-webkit-scrollbar {
	width: 8px;
	background-color: rgba(5, 5, 5, 0.219);
	color: #bbbbbb;
}

::-webkit-scrollbar:hover {
	background-color: rgba(0, 0, 0, 0.397);
}

::-webkit-scrollbar-thumb:vertical {
	background: rgba(58, 57, 57, 0.5);
	border-radius: 100px;
}

::-webkit-scrollbar-thumb:vertical:active {
	background: rgba(36, 36, 36, 0.61);
}
